---
site_title: Occupant Fonts Text Laboratory
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <title>{{ site_title }}</title>
        <link rel="stylesheet" href="./_includes/style.css" />
    </head>
    <body id="home">
        <h1>Occupant Fonts Text Laboratory</h1>
        {{ content | safe }}
    </body>
</html>