<nav class="inline">
    <div class="sub">
        <div>
            <h4>Highlighter Color</h4>
            <div class="btn highlighter-b">Aa</div>
            <div class="btn highlighter-c">Aa</div>
            <div class="btn highlighter-m">Aa</div>
            <div class="btn highlighter-y">Aa</div>
        </div>
        <div>
            <h4>Type Style</h4>
            <ul class="radio-group style">
                <li>
                    <input type='radio' value='16' name='style' id='radio16' data-style="regular" checked/>
                    <label for='radio16'>
                        Aa
                    </label>
                </li>
                <li>
                    <input type='radio' value='17' name='style'  id='radio17' data-style="italic"/>
                    <label for='radio17'>
                        Aa
                    </label>
                </li>
            </ul>
        </div> 
        <div data-axes="wght">
            <h4>Type Weight</h4>
            <div class="min">Aa</div>
            <input data-type="wght" class="range axis-range" type="range" min="1" max="100" value="50">
            <div class="max">Aa</div>   
        </div>
        <div data-axes="size">
            <h4>Type Size</h4>
            <div class="min">Aa</div>
            <input data-type="size" class="range axis-size" type="range" min="10" max="50" value="400">
            <div class="max">Aa</div>
        </div>

    </div>
</nav>
