<nav class="global">
    <ul>
        <li><a href="../../index.html">Home</a></li>
        <li>
            <a>Aa</a>
        </li>
            <div class="sub">
                <div>
                    <h4>Type Style</h4>
                    <ul class="radio-group style">
                        <li>
                            <input type='radio' value='1' name='style' id='radio1' data-style="regular" checked/>
                            <label for='radio1'>
                                Aa
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='2' name='style'  id='radio2' data-style="italic"/>
                            <label for='radio2'>
                                Aa
                            </label>
                        </li>
                    </ul>
                </div> 
                <div data-axes="wght">
                    <h4>Type Weight</h4>
                    <div class="min">Aa</div>
                    <input data-type="wght" class="range axis-range" type="range" min="1" max="100" value="50">
                    <div class="max">Aa</div>   
                </div>
                <div data-axes="size">
                    <h4>Type Size</h4>
                    <div class="min">Aa</div>
                    <input data-type="size" class="range axis-size" type="range" min="10" max="50" value="400">
                    <div class="max">Aa</div>
                </div>
                <div>
                    <h4>Background Color</h4>
                    <ul class="radio-group bg-color">
                        <li>
                            <input type='radio' value='3' name='bg-color' id='radio3' data-bg="transparent" checked/>
                            <label for='radio3'>
                                Aa
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='4' name='bg-color'  id='radio4' data-bg="black"/>
                            <label for='radio4'>
                                Aa
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='5' name='bg-color'  d='radio5' data-bg="white"/>
                            <label for='radio5'>
                                Aa
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='6' name='radio' id='radio6' data-bg="natural"/>
                            <label for='radio6'>
                                Aa
                            </label>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Line Spacing</h4>
                     <ul class="radio-group lspacing">
                        <li>
                            <input type='radio' value='7' name='lspacing' id='radio7' data-lspacing="sm"/>
                            <label for='radio7'>
                               <svg width="25" height="33" viewBox="0 0 25 33"  xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="24" height="32" />
                                    <line x1="6" y1="5.5" x2="19" y2="5.5" />
                                    <line x1="6" y1="12.7" x2="19" y2="12.7" />
                                    <line x1="6" y1="19.9" x2="19" y2="19.9" />
                                    <line x1="6" y1="26.5" x2="19" y2="26.5" />
                                </svg>
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='8' name='lspacing'  id='radio8' data-lspacing="md" checked/>
                            <label for='radio8'>
                               <svg width="25" height="33" viewBox="0 0 25 33"  xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="24" height="32" />
                                    <line x1="6" y1="5.5" x2="19" y2="5.5" />
                                    <line x1="6" y1="10.9857" x2="19" y2="10.9857" />
                                    <line x1="6" y1="16.4714" x2="19" y2="16.4714" />
                                    <line x1="6" y1="26.5" x2="19" y2="26.5" />
                                    <line x1="6" y1="21.5" x2="19" y2="21.5" />
                                </svg>
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='9' name='lspacing' id='radio9' data-lspacing="lg"/>
                            <label for='radio9'>
                                <svg width="25" height="33" viewBox="0 0 25 33"  xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="24" height="32" />
                                    <line x1="6" y1="5.5" x2="19" y2="5.5" />
                                    <line x1="6" y1="7.5" x2="19" y2="7.5" />
                                    <line x1="6" y1="9.5" x2="19" y2="9.5" />
                                    <line x1="6" y1="21.5" x2="19" y2="21.5" />
                                    <line x1="6" y1="23.5" x2="19" y2="23.5" />
                                    <line x1="6" y1="13.5" x2="19" y2="13.5" />
                                    <line x1="6" y1="15.5" x2="19" y2="15.5" />
                                    <line x1="6" y1="19.5" x2="19" y2="19.5" />
                                    <line x1="6" y1="25.5" x2="19" y2="25.5" />
                                    <line x1="6" y1="17.5" x2="19" y2="17.5" />
                                    <line x1="6" y1="27.5" x2="19" y2="27.5" />
                                    <line x1="6" y1="11.5" x2="19" y2="11.5" />
                                </svg>
                            </label>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Margin</h4>
                    <ul class="radio-group margin">
                        <li>
                            <input type='radio' value='10' name='margin' id='radio10' data-margin="sm"/>
                            <label for='radio10'>
                                <svg width="25" height="33" viewBox="0 0 25 33"  xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="24" height="32" />
                                    <line x1="8" y1="6.5" x2="17" y2="6.5" />
                                    <line x1="8" y1="10.5" x2="17" y2="10.5" />
                                    <line x1="8" y1="14.5" x2="17" y2="14.5" />
                                    <line x1="8" y1="18.5" x2="17" y2="18.5" />
                                    <line x1="8" y1="22.5" x2="17" y2="22.5" />
                                    <line x1="8" y1="26.5" x2="17" y2="26.5" />
                                </svg>
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='11' name='margin'  id='radio11' data-margin="md" checked/>
                            <label for='radio11'>
                              <svg width="25" height="33" viewBox="0 0 25 33"  xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="24" height="32" />
                                    <line x1="6" y1="6.5" x2="19" y2="6.5" />
                                    <line x1="6" y1="10.5" x2="19" y2="10.5" />
                                    <line x1="6" y1="14.5" x2="19" y2="14.5" />
                                    <line x1="6" y1="18.5" x2="19" y2="18.5" />
                                    <line x1="6" y1="22.5" x2="19" y2="22.5" />
                                    <line x1="6" y1="26.5" x2="19" y2="26.5" />
                                </svg>
                            </label>
                        </li>
                        <li>
                            <input type='radio' value='12' name='margin' id='radio12' data-margin="lg"/>
                            <label for='radio12'>
                                <svg width="25" height="33" viewBox="0 0 25 33"  xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="0.5" width="24" height="32" />
                                    <line x1="3" y1="4.5" x2="22" y2="4.5" />
                                    <line x1="3" y1="8.5" x2="22" y2="8.5" />
                                    <line x1="3" y1="12.5" x2="22" y2="12.5" />
                                    <line x1="3" y1="16.5" x2="22" y2="16.5" />
                                    <line x1="3" y1="20.5" x2="22" y2="20.5" />
                                    <line x1="3" y1="24.5" x2="22" y2="24.5" />
                                    <line x1="3" y1="28.5" x2="22" y2="28.5" />
                                </svg>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="radio-group screen-size">
            <ul>
                <li>
                    <input type='radio' value='13' name='screen-size' id='radio13' data-screen='ipad' checked/>
                    <label for='radio13'>
                        <svg width="12" height="15" viewBox="0 0 12 15"  xmlns="http://www.w3.org/2000/svg" fill="none">
                            <rect x="0.5" y="0.5" width="11" height="14" stroke="#0F0F0F"/>
                        </svg>
                    </label>
                </li>
                <li>
                    <input type='radio' value='14' name='screen-size'  id='radio14' data-screen='mobile'/>
                    <label for='radio14'>
                        <svg width="8" height="12" viewBox="0 0 8 12"  xmlns="http://www.w3.org/2000/svg" fill="none">
                            <rect x="0.5" y="0.5" width="7" height="11" stroke="#0F0F0F"/>
                        </svg>
                    </label>
                </li>
                <li>
                    <input type='radio' value='15' name='screen-size'  id='radio15' data-screen='responsive'/>
                    <label for='radio15'>
                        <svg width="17" height="14" viewBox="0 0 17 14"  xmlns="http://www.w3.org/2000/svg" fill="none">
                            <rect x="0.5" y="0.5" width="16" height="13" stroke="#0F0F0F" stroke-dasharray="1 1"/>
                            <path d="M3 7L14 7"  stroke-linecap="square" stroke="#161616"/>
                            <path d="M1 7L3.25 5.26795L3.25 8.73205L1 7Z" fill="#161616"/>
                            <path d="M16 7L13.75 8.73205L13.75 5.26795L16 7Z" fill="#161616"/>
                        </svg>
                    </label>
                </li>
            </ul>
        </li>
        
        <li>
            <a> 
                <svg width="14" height="16" viewBox="0 0 14 16"  xmlns="http://www.w3.org/2000/svg" fill="none">
                    <path d="M5.16366 10.63L0.5 14.8697V0.5H10.5V14.8697L5.83634 10.63L5.5 10.3243L5.16366 10.63Z" stroke="#161616" />
                </svg>
            </a>
        </li>
        <li id="about">
            About
        </li>
    </ul>
</nav>